.taskListWrapper {
  display: table;
  /* border-bottom: #393e46 1px solid;
  border-left: #393e46 1px solid; */
}

.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
}

.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
